<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
    <link th:href ="@{/css/body.css}" rel="stylesheet">
    <link th:href ="@{/css/community.css}" rel="stylesheet">
</head>
<div th:insert="blocks/header :: header"></div>
<body class="bg-light">
    <main class="ms-sm-auto p-4">
        <h1>Community</h1>
        <div class="container community">
            <!-- Three columns of text below the carousel -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="col-xs">
                    <img class="rounded-circle" style="width:140px;height:140px;" alt="140x140" src="/images/man-1.jpg" data-holder-rendered="true">
                    </div>
                    <h2>Mike</h2>
                    <p>I have a clear, logical mind with a practical approach to problem-solving and a drive to see things through to completion.</p>
                    <p><a class="btn btn-secondary" href="#">Go To Profile »</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="rounded-circle" style="width:140px;height:140px;" alt="140x140" src="/images/woman-1.jpg" data-holder-rendered="true">
                    <h2>Stacy</h2>
                    <p>I am a highly competent IT professional with a proven track record in designing websites, networking and managing databases.</p>
                    <p><a class="btn btn-secondary" href="#">Go To Profile »</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="rounded-circle" style="width:140px;height:140px;" alt="140x140" src="/images/man-2.jpg" data-holder-rendered="true">
                    <h2>John</h2>
                    <p>I am a hardworking and ambitious individual with a great passion for the transport and logistics industry. </p>
                    <p><a class="btn btn-secondary" href="#">Go To Profile »</a></p>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
            <div class="row">
                <div class="col-lg-4">
                    <img class="rounded-circle" style="width:140px;height:140px;" alt="140x140" src="/images/man-3.jpg" data-holder-rendered="true">
                    <h2>Stan</h2>
                    <p>I am a dedicated, hardworking and proactive Chemical Engineer with a strong background in design, plant operations, process and safety improvements. </p>
                    <p><a class="btn btn-secondary" href="#">Go To Profile »</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="rounded-circle" style="width:140px;height:140px;" alt="140x140" src="/images/woman-2.jpg" data-holder-rendered="true">
                    <h2>Michelle</h2>
                    <p>I am an energetic, ambitious person who has developed a mature and responsible approach to any task that I undertake, or situation that I am presented with.</p>
                    <p><a class="btn btn-secondary" href="#">Go To Profile »</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="rounded-circle" style="width:140px;height:140px;" alt="140x140" src="/images/woman-3.jpg" data-holder-rendered="true">
                    <h2>Nancy</h2>
                    <p>I am a creative, artistic and ambitious Graphics Designer with a talent for thinking outside the box and coming up with innovative ideas and designs. </p>
                    <p><a class="btn btn-secondary" href="#">Go To Profile »</a></p>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </main>
</body>
</html>