<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <title th:text="${project.title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
    <link th:href ="@{/css/body.css}" rel="stylesheet">
</head>
<div th:insert="blocks/header :: header"></div>
<body class="bg-light">
    <main class="ms-sm-auto p-4">
        <div sec:authorize="isAuthenticated()"><!--'hasAuthority(''USER'')' -->
            <div th:if="${#request.userPrincipal.principal.id == project.authorId}" class="float-end">
                <!-- <a th:href="'/projects/' + ${project.id} + '/edit'" class="btn btn-warning btn-sm mb-1">Edit</a><br> -->
                <a th:href="''+'/edit'" class="btn btn-warning btn-sm mb-1">Edit</a><br>
                <form method="POST" th:action="'/projects/' + ${project.id} + '/remove'">
                    <button type=submit class="btn btn-danger btn-sm mb-1">Delete</button>
                </form>
            </div>
        </div>
        <div class="shadow-sm p-3 mb-5 bg-white rounded">
            <h1 th:text="${project.title}"/>
            <h3 th:text="${project.authorId}"/>
            <div th:utext=${project.shortDescription} />
            <div th:utext=${project.body} />
            <a th:href="'/projects'" class="btn btn-secondary btn-sm">Назад</a>
        </div>
    </main>
</body>
</html>