<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <title th:text="${project.title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous">

    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
    <link th:href ="@{/fa/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href ="@{/css/body.css}" rel="stylesheet">
    <link th:href ="@{/css/comments.css}" rel="stylesheet">
</head>
<div th:insert="blocks/header :: header"></div>
<body class="bg-light">
    <main class="ms-sm-auto p-4">
        <div sec:authorize="isAuthenticated()"><!--'hasAuthority(''USER'')' -->
            <div th:if="${#request.userPrincipal.principal.id == project.authorId}" class="float-end">
                <a th:href="'/projects/' + ${project.id} + '/edit'" class="btn btn-warning btn-sm mb-1">Edit</a><br>
                <form method="POST" th:action="'/projects/' + ${project.id} + '/remove'">
                    <button type=submit class="btn btn-danger btn-sm mb-1">Delete</button>
                </form>
            </div>
        </div>
        <div class="shadow-sm p-3 mb-5 bg-white rounded">
            <h1 th:text="${project.title}"/>
            <small id="createdBy" class="form-text text-muted">Created by:</small>
            <small th:text="${author.username}" class="form-text text-muted" />
            <div th:utext=${project.shortDescription} />
            <div th:utext=${project.body} />
            <hr>
                <div class="d-flex justify-content-center row">
                    <div class="d-flex flex-column comment-section" id="myGroup">
                        <div class="d-flex flex-row align-items-start">
                            <img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="60" height="60">
                            <div>
                                <!-- Here should be user logo -->
                                <!-- Here should be user first and last name --> <!--date,month and year -->
                                <h5 class="d-block font-weight-bold name">
                                    Maria Andrews - <small id="emailHelp" class="form-text text-muted"  th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}" />
                                </h5>
                                <!-- content -->
                                <div class="card card-body m-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                            </div>
                        </div>

                        <hr>

                        <div class="bg-white p-2">
                            <div class="d-flex flex-row fs-12">
                                <div class="like p-2 cursor">
                                    <i class="fa fa-thumbs-o-up"></i>
                                    <span class="ml-1">Like</span>
                                </div>
                                <div class="like p-2 cursor action-collapse" data-bs-toggle="collapse"
                                     aria-expanded="false" aria-controls="collapse-1" data-bs-target="#collapse-1">
                                    <i class="fa fa-commenting-o"></i>
                                    <span class="ml-1">Comment</span>
                                </div>
                                <div class="like p-2 cursor action-collapse" data-bs-toggle="collapse"
                                     aria-expanded="false" aria-controls="collapse-2" data-bs-target="#collapse-2">
                                    <i class="fa fa-share"></i>
                                    <span class="ml-1">Contact author</span>
                                </div>
                            </div>
                        </div>
                        <form method="post">
                            <div id="collapse-1" class="p-2 collapse multi-collapse" data-parent="#myGroup">
                                <div class="d-flex flex-row align-items-start">
                                    <img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="60" height="60">
                                    <textarea class="form-control shadow-none textarea m-1" name="content" placeholder="Leave a comment..."></textarea>
                                </div>
                                <div class="mt-2 text-right">
                                    <button class="btn btn-primary btn-sm shadow-none" type="submit">Post comment</button>
                                    <button type="button" class="btn btn-outline-primary btn-sm ml-1 shadow-none"
                                            data-bs-toggle="collapse" aria-expanded="false" data-bs-target=".multi-collapse"
                                            aria-controls="collapse-1">Cancel</button>
                                </div>
                            </div>
                        </form>
                        <div id="collapse-2" class="p-2 collapse" data-parent="#myGroup">
                            <div class="d-flex flex-row align-items-start">
                                <!-- Add here author contacts-->
                                <i class="fa fa-envelope-o border p-3 rounded mr-1"></i>
                                <i class="fa fa-linkedin border p-3 rounded mr-1"></i>
                                <i class="fa fa-telegram border p-3 rounded mr-1"></i>
                                <i class="fa fa-facebook border p-3 rounded mr-1"></i>
                                <i class="fa fa-vk border p-3 rounded mr-1"></i>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div th:insert="blocks/footer :: footer"></div>
    </main>
</body>
</html>