<div th:fragment="header">
    <header>
        <nav class="d-flex align-items-center navbar navbar-expand-md fixed-top bg-white border-bottom shadow-sm">
            <div class="container-fluid">
                <a class="text-dark display-6 ch5 my-0 me-md-auto fw-normal" style="text-decoration: none;" href="/">BeMyM8</a>
                <nav class="my-2 my-md-0 me-md-3">
                    <a class="p-2 text-dark" href="/projects">Projects</a>
                    <a class="p-2 text-dark" href="/community">Community</a>
                    <a class="p-2 text-dark" href="#">Support</a>
                </nav>
                <form class="d-flex me-md-3">
                    <div class="input-group">
                    <input class="form-control" type="search" placeholder="Type here to search" aria-label="Search"
                           aria-describedby="basic-addon1">
                    <button id="basic-addon1" type="submit" class="btn btn-outline-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                        </svg>
                        <span class="visually-hidden">Button</span>
                    </button>
                    </div>
                </form>
                <div sec:authorize="isAuthenticated()">
                    <span sec:authentication="principal.username"></span>
                    <span th:text="[[${#request.userPrincipal.principal.name}]]"></span>
                </div>
                <div sec:authorize="!isAuthenticated()">
                    <a class="p-2 text-dark" href="/registration">Join now</a>
                    <a class="btn btn-outline-primary" href="/login">Sign in</a>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Exit"/>
                    </form>
                </div>
            </div>
        </nav>
    </header>
</div>